html,
#navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.photo {
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.brand-logo {
  display: inline-flex !important;
}
